h1{
  color: mediumseagreen;
  font-family: verdana;
  border: dashed;
  border-color: aqua;
  border-radius: 25%;
}
h3{
  color: mediumseagreen;
  font-family: verdana;
  border: dashed;
  border-color: aqua;
  border-radius: 25%;
}
button{
  color: tomato;
  border: dotted;
  border-color: dodgerblue;
  border-radius: 25cm;
}
